body {
  margin: 0;
  overflow: hidden;
}

.ui {
  position: absolute;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
  z-index: 20;
  color: rgb(31, 255, 31);
  font-family: "Lucida Console", Courier, monospace;
  -webkit-user-select: none;
}

.params {
  position: absolute;
  bottom: 0;
  right: 0;
}

input[type=number] {
  width: 7ch;
}

#base {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

#stick {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgb(31, 255, 31);
  position: relative;
  left: 50%;
  top: 50%;
  margin: -37.5px 0 0 -37.5px;
}

.info-box {
  background-color: rgba(127, 127, 127, .75);
  padding: 8px;
  margin-top: 8px;
}

button {
  font-family: "Lucida Console", Courier, monospace;
}
